html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  text-decoration: none;
}

.weather-app {
  display: block;
  margin: 75px auto;
  font-family: skippy-sharp, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.weather-current {
  max-width: 1000px;
}

.city,
.country {
  display: inline;
}

.location {
  position: relative;
  background-color: #ffd100;
  height: 60px;
  min-width: 240px;
  width: fit-content;
  padding-left: 20px;
  transform: rotate(1deg);
}

.city {
  padding-right: 3px;
  font-size: 40px;
}

.country {
  font-family: letter-gothic-std, monospace;
  font-weight: 900;
  font-style: normal;
  font-size: small;
  letter-spacing: 0.1em;
}

.current-date {
  background-color: #01b6e2;
  width: 240px;
  height: 60px;
  margin-top: 40px;
  padding-top: 20px;
  transform: rotate(-2deg);
}

.current-date-value {
  padding-right: 100px;
  text-align: right;
  font-size: 24px;
  line-height: 1;
  transform: rotate(-1deg);
}

.current-weather-data {
  background-color: #f170ac;
  width: 240px;
  height: 200px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  padding: 20px;
  transform: rotate(2deg);
  box-shadow: 0 20px 25px -35px rgba(0, 0, 0, 0.15);
}

/*
.current-weather-data::before,
.current-weather-data::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 6px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.current-weather-data::before {
  background: blue;
  left: 4px;
  right: 40px;
  transform: rotate(-2deg);
}

.current-weather-data::after {
  background: rgb(255, 0, 200);
  left: 40px;
  right: 2px;
  transform: rotate(2deg);
}
*/

.current-temperature {
  padding-left: 5px;
  font-size: 40px;
  line-height: 1;
}

.units a {
  font-family: skippy-sharp, sans-serif;
  color: black;
}

.current-description {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 15px;
}

.units {
  font-size: 18px;
  vertical-align: top;
}

.humidity-list,
.wind-list {
  padding-left: 20px;
  transform: rotate(-2deg);
  letter-spacing: 0.05em;
}

.humidity-list {
  padding-top: 10px;
}

.current-humidity,
.current-wind {
  font-size: 20px;
  padding-left: 10px;
  transform: rotate(-5deg);
}

.current-weather-symbol {
  background-color: #ffeba1;
  width: 240px;
  height: 200px;
  margin-top: 30px;
  transform: rotate(-1deg);
  position: relative;
}

.current-icon {
  margin-top: 50px;
  margin-right: 10px;
  transform: rotate(6deg);
}

.weather-forecast {
  margin-top: 60px;
  text-align: center;
}

.forecast-day {
  background-color: #a5cb4d;
  width: 120px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  font-size: 24px;
  line-height: 1;
}

.forecast-data {
  margin-top: 20px;
  width: 120px;
  height: 160px;
  background-color: #dbe246;
}

.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  display: inline;
  font-size: 24px;
}

.dash {
  font-size: 32px;
}

.search-form {
  margin-top: 60px;
}

.footer {
  display: block;
  margin: 50px auto;
  text-align: center;
}

.footer-signoff,
.footer-shecodes,
.footer-github {
  color: black;
  letter-spacing: 0.05em;
}

.footer-signoff a {
  color: #ed579e;
}

.footer-shecodes a {
  color: #a5cb4d;
}

.footer-github a {
  color: #01b6e2;
}
