html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  background-image: url("../media/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  text-decoration: none;
  color: cornflowerblue;
}

.weather-app {
  display: block;
  margin: 100px auto;
  font-family: skippy-sharp, sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 600px;
}

.city,
.country {
  display: inline;
}

.location {
  position: relative;
  background-color: #ffff99;
  height: 60px;
  min-width: 240px;
  width: fit-content;
  padding-left: 20px;
  transform: rotate(1deg);
}

.city {
  padding-right: 3px;
  font-size: 40px;
}

.country {
  letter-spacing: 0.1em;
}

.current-date {
  background-color: #7ae0ff;
  width: 240px;
  height: 60px;
  margin-top: 40px;
  padding-top: 20px;
  transform: rotate(-2deg);
}

.current-date-value {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  transform: rotate(2deg);
}

.current-weather-data {
  background-color: #ff7eb9;
  width: 240px;
  height: 140px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  padding: 20px;
  transform: rotate(2deg);
  box-shadow: 0 20px 25px -35px rgba(0, 0, 0, 0.15);
}

.current-weather-data::before,
.current-weather-data::after {
  content: "";
  position: absolute;
  top: 90%;
  bottom: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.current-weather-data::before {
  background: blue;
  left: 4px;
  right: 40px;
  transform: rotate(-5deg);
}

.current-weather-data::before {
  background: rgb(255, 0, 200);
  left: 40px;
  right: 4px;
  transform: rotate(5deg);
}

.current-temperature {
  font-size: 40px;
  line-height: 1;
}

.units {
  font-size: 18px;
  vertical-align: top;
}

.current-precipitation,
.current-humidity,
.current-wind {
  font-size: 24;
  padding-left: 5px;
}

.current-weather-symbol {
  background-color: #fff740;
  width: 240px;
  height: 140px;
  margin-top: 20px;
  transform: rotate(-1deg);
  position: relative;
}

.current-weather-svg {
  padding-bottom: 40px;
}

.footer {
  display: block;
  margin: 50px auto;
  text-align: center;
}

.footer-signoff,
.footer-shecodes,
.footer-github {
  color: black;
}

.footer-signoff a {
  color: #ff7eb9;
}

.footer-shecodes a {
  color: #5aaec7;
}

.box {
  background: #ffff99;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  padding: 2.5em;
  position: relative;
  box-shadow: 0 25px 25px -35px rgba(0, 0, 0, 0.5);
}
